.topbarcontainer{
    height: 70px;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.topbarleft{
    flex:3;
    margin: 0 3px;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.topbarcenter {
    flex:5;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
}

.searchicon{
    font-size: 20px !important;
    margin-left: 10px;
    border-radius: 2ch;
}

.searchinput{
    border: none;
    border-radius: 2ch;
    width: 85%;
}

.searchinput:focus{
    outline: none;
}
.topbarright {
    display: flex;
    flex: 4;
    justify-content: space-between;
    color : white;
}

.topbarlink{
    margin-right:10px;
    font-size: 14px;
    cursor:pointer;
}

.topbaricons{
    display: flex;
}

.topbariconitem{
    width: 32px;
    height: 32px;
}

.topbariconbadge{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    color :white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: 18px;
}

.topbarimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit:cover;
    cursor:pointer;
}